@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-accent: #444444;

  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);
}

@layer base {
  body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: var(--font-sans), sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading), sans-serif;
  }
}
